/*.headWin {
    /*margin: 5%;
    margin-bottom: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.unity-base-field__label{
    flex-grow: 1;
    
}

.unity-text-element--inner-input-field-component{
    flex-grow: 5;
    
}
.unity-unsigned-integer-field__input{
    flex-grow: 5;
}
*/